*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    letter-spacing: 2px;
    line-height: 1.5;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Michroma', sans-serif;
 
}

header{
    display: flex;
    justify-content: space-between;
    padding: 3em;
    background-image: linear-gradient(rgba(148, 110, 147, 0.568),rgba(139, 103, 138, 0.808)),url("images/backgound.jpg");
    background-position: center;
    background-size: cover;
    height: 70vh;
 
}

#logo {
    text-transform: uppercase;
    font-size: 2em;
    color: white;
}
/** open and close **/

.open .fa-bars {
    font-size: 3em;
    cursor: pointer;
    color: white;
}

.open .fa-bars:hover {
    animation: rotateInDownLeft;
    animation-duration: 1s;
}
.close .fa-times {
    font-size: 4em;
    position: absolute;
    top: 50px;
    right: 50px;
    cursor: pointer;
    color: white;
}

nav {
    width: 100%;
    height: 100%;
    position: fixed;
    right: -100%;
    top: 0; 
    background-color:#e0b5b5;
    transition-timing-function: ease-in-out;
    transition: .6s;
    z-index: 1;
}

nav ul {
    display: flex;
    flex-direction: column;
   margin-top: 10%;
    
}
nav ul li {
    /* width: 100%; */
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1em;
    margin-bottom: 3em;
 

}

nav ul li:hover {
    background-color:#e0c2ce;
}
nav ul li a {
   font-size: 1.5em;
   text-transform: uppercase;
   color: white;
}

/** BAG container **/

.bags_and_watches {
display: grid;
grid-template-columns: 1fr .5fr;
grid-template-rows: repeat(4, .8fr);
padding: 1.5em;


}

.div1 { grid-area: 1 / 1 / 2 / 2; }
.div2 { grid-area: 1 / 2 / 2 / 3; }
.div3 { grid-area: 2 / 1 / 3 / 2; }
.div4 { grid-area: 2 / 2 / 3 / 3; }
.div5 { grid-area: 3 / 1 / 4 / 2; }
.div6 { grid-area: 3 / 2 / 4 / 3; }
.div7 { grid-area: 4 / 1 / 5 / 2; }
.div8 { grid-area: 4 / 2 / 5 / 3; }

.div1, .div3, .div5, .div7 {
    width: 100%;
    height: 80%;
}

.div2, .div4, .div6, .div8 {
    text-transform: uppercase;
}

.div3 {
    background-color:#ffe0f7 ;
}
.div5 {
    background-color: #a3d8f4;
}
.div7 {
    background-color: #d4b8cd;
}
.div2, .div4, .div6, .div8 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
 .sub-text{
  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.sub-text h1, h2, p {
    margin-top: 2em;
}
.sub-text p {
    font-size: 100%;
    text-transform: uppercase;

}
.div1 img{
    width: 100%;
    height: 100%;
}

.img_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 5%;
    /* grid-gap:.5em; */

}

.three_bags {
    width: 100%;
    height: 30vh;
}
.three_bags img {
    width: 100%;
    height: 100%;
    opacity: .7;
}


/**  header and paragrapg inside the box **/






/** image gallery **/

.parent {
display: grid;
grid-template-columns: repeat(4, 1fr);
grid-template-rows: repeat(2, 1fr);

}

.div9 { grid-area: 1 / 1 / 2 / 2; }
.div10 { grid-area: 1 / 2 / 2 / 3; }
.div11 { grid-area: 1 / 3 / 2 / 4; }
.div12 { grid-area: 1 / 4 / 2 / 5; }
.div13 { grid-area: 2 / 1 / 3 / 2; }
.div14 { grid-area: 2 / 2 / 3 / 3; }
.div15 { grid-area: 2 / 3 / 3 / 4; }
.div16 { grid-area: 2 / 4 / 3 / 5; }

.parent div {
    width: 100%;
    height: 40vh;
}
.parent div img {
    width: 100%;
    height: 100%;
}
.gallery_grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .1fr 1fr;
    width: 80%;
    margin: 0 auto;
   
}
.instagram_icon {
    text-align: center;
    color: #833AB4;
}
.fa-instagram {
    font-size: 2em;
}
span {
    text-transform: uppercase;
    margin-left: 2em;
    align-items: center;
}

.express_your-self {
    background-color: #f7dad9;
    height: 100vh;
    color: #fca5a2;
}
.express_container h2 {
    text-align: center;
    padding-top: 5em;
    text-transform: uppercase;
    color: rgb(153, 113, 113);
    margin-bottom: 5em;
    font-weight: bolder;

}
.column {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    height: 100%;
    color: rgb(153, 113, 113);
}
.column .fas {
    font-size: 2em;
    margin: 1em;
}

.subscribe {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #e8ffff;
    text-transform: uppercase;
}
.subscribe h1 {
    font-size: 7em;
    color: grey;
    opacity: .5;
}
.inputs {
    width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 2em;
   
}
.email_box {
    width: 30%;
    margin-bottom: 1em;

}
.submit_box {
    width: 30%;
}
input[type="email"] {
    width: 100%;
    padding: 1em;
    
}
input[type="submit"] {
    width: 100%;
    padding: 1em;
    background-color: black;
    color: white;
    text-transform: uppercase;
}
input[type = "submit"]:hover {
    background-color: rgb(46, 46, 46);
    color: white;
}

footer {
    background-color: #f7dad9;
    height: 60vh;
    color: rgb(155, 130, 130);
}
.copyRight {
    text-align: center;
    margin-top: 3em;
}
footer h2 {
    text-transform: uppercase;
}
.footer_wraper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
}

.footer_clm_01 h2 {
    margin-bottom: 5em;
}

.footer_clm_01 i {
    margin: 0 1em;
    font-size: 2em;
}

.footer_clm_04 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.finalBrand {
    opacity: .5;
}

.bottomPart {
    display: flex;
    justify-content: space-between;
    padding: 1.5em;

}

.homeBtn a {
    font-size: 4em;
    color: rgb(155, 130, 130);
}
.fa-arrow-alt-circle-up:hover {
    color: white;
    
} 